{% extends "ama/base.html" %}
{% block js %}
<script>
  function upvote(e, el) {
    console.log(el);
    $.ajax({
      url: el.href,
      data: {comment_id: el.id},
      success: function () {
        alert('Done')
      },
    })
    return false
  }
</script>
{% endblock %}

{% block content %}
{% load bootstrap3 %}
<div class="row">
  <div class="col-xs-12">
    <div class="ama-title">
      <h2>{{ post.title }} <small>by {{ post.host }}</small></h2>
    </div>
    <div class="ama-post">
      {{ post.html | safe }}
      <div class="reply">
        <a href="{% url 'ama_comment_add' post.id %}">reply</a>
      </div>
    </div>
    <div class="ama-comments">
      <h3>Comments:</h3>
      {% load mptt_tags %}
      <ul class="cmt-parent">
        {% recursetree nodes %}
        <li class="cmt-children">
          <p>
            <a id="{{ node.id }}" onclick="return upvote(event, this);" href="{% url 'like_comment' %}">{% bootstrap_icon icon="circle-arrow-up" extra_classes="updoot" %} </a>
            {% if node.author %}
              {% if node.author == post.host %}
                <span class="ama-host">{{ node.author.username }}</span> 
                <span class="ama-flair">ama guest</span>
              {% else %}
                <span class="ama-user">{{ node.author.username }}</span> 
              {% endif %}
            {% else %}
              {{ node.name }}
            {% endif %}
            {{ node.votes }} points</p>
          <p> {{ node.content }}</p>
          <div class="reply">
            <a href="{% url 'ama_comment_add' post.id node.id %}">reply</a>
          </div>
          {% if not node.is_leaf_node %}
          <ul class="cmt-list">
            {{ children }}
          </ul>
          {% endif %}
        </li>
        {% endrecursetree %}
      </ul>
    </div>
  </div>
</div>

{% endblock %}
